html { scroll-behavior: smooth; }

/* Layout and look */

.bd-navbar { background-color: #255b68; }

/* FORMATTING */

.lead {
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 1em;
  margin-top: 0;
}

.franklin-content ul li p { margin: 0; }

.katex { font-size: 1em !important;}

a.anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

/* CODE */

pre { margin-bottom: 0.5em; }
pre code.hljs {
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
pre code.hljs.plaintext {
	margin-bottom: 1em;
}

/* ADD ANY SPECIFIC TWEAKS YOU MIGHT WANT HERE */
